In [1]:
import pandas as pd

In [3]:
ipeds = pd.read_csv("data/IPEDS/AcademicLibrary_11-12-2024.csv")

In [5]:
ipeds.head(5)

,UnitID,Institution Name,ZIP code (HD2022),Institution (entity) name (HD2022),Institution name alias (HD2022),Street address or post office box (HD2022),City location of institution (HD2022),State abbreviation (HD2022),Does institution have Library Staff? (AL2022),Total library FTE staff (AL2022),...,One-time purchases of books serial backfiles and other materials (AL2022),Ongoing commitments to subscriptions (AL2022),Other materials/services expenditures (AL2022),Total materials/services expenditures (AL2022),Preservation services (AL2022),Other operation and maintenance expenditures (AL2022),Total operations and maintenance expenditures (AL2022),Total expenditures (salaries/wages benefits materials/services and operations/maintenance) (AL2022),Salaries/wages materials/services and operations/maintenance (AL2022),Unnamed: 27
0,177834,A T Still University of Health Sciences,63501,A T Still University of Health Sciences,,800 W Jefferson,Kirksville,MO,1,22.5,...,90030.0,1863769.0,0.0,1953799.0,0.0,65000.0,65000.0,2782003.0,2572478.0,NaN
1,222178,Abilene Christian University,79699,Abilene Christian University,,,Abilene,TX,1,31.5,...,82940.0,634519.0,538403.0,1255862.0,1171.0,142813.0,143984.0,2805867.0,2805867.0,NaN
2,138558,Abraham Baldwin Agricultural College,31793-2601,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,1,16.5,...,7485.0,71817.0,2916.0,82218.0,0.0,3100.0,3100.0,351350.0,287310.0,NaN
3,108269,Academy of Chinese Culture and Health Sciences,94612,Academy of Chinese Culture and Health Sciences,ACCHS,1600 Broadway Ste. 200,Oakland,CA,1,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,384306,Acupuncture and Integrative Medicine College-B...,94704,Acupuncture and Integrative Medicine College-B...,AIMC Berkeley,2550 Shattuck Avenue,Berkeley,CA,1,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
ipeds[['UnitID','Institution Name','Total library FTE staff (AL2022)']].sort_values('Total library FTE staff (AL2022)', ascending=False)

,UnitID,Institution Name,Total library FTE staff (AL2022)
826,166027,Harvard University,811.54
2160,170976,University of Michigan-Ann Arbor,558.00
1516,214777,Pennsylvania State University-Main Campus,547.50
1862,243744,Stanford University,533.00
2468,130794,Yale University,528.00
...,...,...,...
2477,441609,Yeshiva Shaarei Torah of Rockland,0.25
2472,493716,Yeshiva Gedola Tiferes Yaakov Yitzchok,0.18
1574,194693,Rabbinical College Beth Shraga,0.15
986,461847,Keser Torah-Mayan Hatalmud,0.15
2480,217040,Yeshivath Beth Moshe,0.10

In [13]:
ipeds[['UnitID','Institution Name','Total library FTE staff (AL2022)']].sort_values('Total library FTE staff (AL2022)', ascending=False)[:300]

,UnitID,Institution Name,Total library FTE staff (AL2022)
826,166027,Harvard University,811.54
2160,170976,University of Michigan-Ann Arbor,558.00
1516,214777,Pennsylvania State University-Main Campus,547.50
1862,243744,Stanford University,533.00
2468,130794,Yale University,528.00
...,...,...,...
270,110547,California State University-Dominguez Hills,50.00
1646,195128,Russell Sage College,50.00
1391,157447,Northern Kentucky University,49.42
1517,498571,Pennsylvania Western University,49.00
1461,236188,Olympic College,49.00

In [17]:
ipeds[['UnitID','Institution Name','Librarians FTE staff (AL2022)','Total salaries and wages from the library budget (AL2022)','Total library FTE staff (AL2022)']].sort_values('Librarians FTE staff (AL2022)', ascending=False)[:300]

,UnitID,Institution Name,Librarians FTE staff (AL2022),Total salaries and wages from the library budget (AL2022),Total library FTE staff (AL2022)
826,166027,Harvard University,391.10,56138193.0,811.54
2468,130794,Yale University,246.00,40914711.0,528.00
2160,170976,University of Michigan-Ann Arbor,215.00,36214334.0,558.00
1516,214777,Pennsylvania State University-Main Campus,198.10,29133417.0,547.50
2132,145637,University of Illinois Urbana-Champaign,179.08,23166659.0,385.75
...,...,...,...,...,...
2230,217484,University of Rhode Island,16.00,3728747.0,60.43
1519,121150,Pepperdine University,16.00,2282606.0,32.77
810,191515,Hamilton College,16.00,2291840.0,33.65
1135,237525,Marshall University,16.00,1969580.0,45.00
2183,161457,University of New England,16.00,1234400.0,78.00

In [19]:
ipeds2 = ipeds[['UnitID','Institution Name','Librarians FTE staff (AL2022)','Total library FTE staff (AL2022)','Total salaries and wages from the library budget (AL2022)']].sort_values('Librarians FTE staff (AL2022)', ascending=False)[:300]
ipeds2

,UnitID,Institution Name,Librarians FTE staff (AL2022),Total library FTE staff (AL2022),Total salaries and wages from the library budget (AL2022)
826,166027,Harvard University,391.10,811.54,56138193.0
2468,130794,Yale University,246.00,528.00,40914711.0
2160,170976,University of Michigan-Ann Arbor,215.00,558.00,36214334.0
1516,214777,Pennsylvania State University-Main Campus,198.10,547.50,29133417.0
2132,145637,University of Illinois Urbana-Champaign,179.08,385.75,23166659.0
...,...,...,...,...,...
2230,217484,University of Rhode Island,16.00,60.43,3728747.0
1519,121150,Pepperdine University,16.00,32.77,2282606.0
810,191515,Hamilton College,16.00,33.65,2291840.0
1135,237525,Marshall University,16.00,45.00,1969580.0
2183,161457,University of New England,16.00,78.00,1234400.0

In [27]:
ipeds2['Avg1'] = ipeds2['Total salaries and wages from the library budget (AL2022)']/ipeds2['Librarians FTE staff (AL2022)']

In [28]:
ipeds2['Avg2'] = ipeds2['Total salaries and wages from the library budget (AL2022)']/ipeds2['Total library FTE staff (AL2022)']

In [29]:
ipeds2

,UnitID,Institution Name,Librarians FTE staff (AL2022),Total library FTE staff (AL2022),Total salaries and wages from the library budget (AL2022),Avg1,Avg2
826,166027,Harvard University,391.10,811.54,56138193.0,143539.230376,69174.893413
2468,130794,Yale University,246.00,528.00,40914711.0,166319.963415,77489.982955
2160,170976,University of Michigan-Ann Arbor,215.00,558.00,36214334.0,168438.762791,64900.240143
1516,214777,Pennsylvania State University-Main Campus,198.10,547.50,29133417.0,147064.194851,53211.720548
2132,145637,University of Illinois Urbana-Champaign,179.08,385.75,23166659.0,129364.859281,60056.147764
...,...,...,...,...,...,...,...
2230,217484,University of Rhode Island,16.00,60.43,3728747.0,233046.687500,61703.574384
1519,121150,Pepperdine University,16.00,32.77,2282606.0,142662.875000,69655.355508
810,191515,Hamilton College,16.00,33.65,2291840.0,143240.000000,68108.172363
1135,237525,Marshall University,16.00,45.00,1969580.0,123098.750000,43768.444444
2183,161457,University of New England,16.00,78.00,1234400.0,77150.000000,15825.641026

In [31]:
ipeds2.sort_values('Avg2',ascending=False)

,UnitID,Institution Name,Librarians FTE staff (AL2022),Total library FTE staff (AL2022),Total salaries and wages from the library budget (AL2022),Avg1,Avg2
758,139755,Georgia Institute of Technology-Main Campus,23.00,87.00,7654100.0,332786.956522,87978.160920
1148,166683,Massachusetts Institute of Technology,29.00,155.00,13091703.0,451438.034483,84462.600000
1650,186399,Rutgers University-Newark,21.67,53.08,4422962.0,204105.306876,83326.337604
2087,110644,University of California-Davis,41.00,142.04,11717258.0,285786.780488,82492.664038
517,190512,CUNY Bernard M Baruch College,25.46,45.76,3767367.0,147971.995287,82328.824301
...,...,...,...,...,...,...,...
2203,227216,University of North Texas,60.00,385.00,9077362.0,151289.366667,23577.563636
971,135081,Keiser University-Ft Lauderdale,43.00,83.00,1849000.0,43000.000000,22277.108434
1201,220978,Middle Tennessee State University,24.00,211.00,3882141.0,161755.875000,18398.772512
2183,161457,University of New England,16.00,78.00,1234400.0,77150.000000,15825.641026
2226,243221,University of Puerto Rico-Rio Piedras,43.00,250.00,2606341.0,60612.581395,10425.364000

In [32]:
ipeds2.sort_values('Avg1',ascending=False)

,UnitID,Institution Name,Librarians FTE staff (AL2022),Total library FTE staff (AL2022),Total salaries and wages from the library budget (AL2022),Avg1,Avg2
1148,166683,Massachusetts Institute of Technology,29.00,155.00,13091703.0,451438.034483,84462.600000
758,139755,Georgia Institute of Technology-Main Campus,23.00,87.00,7654100.0,332786.956522,87978.160920
1862,243744,Stanford University,109.00,533.00,35868845.0,329071.972477,67296.144465
1558,186131,Princeton University,81.00,421.00,26197673.0,323428.061728,62227.251781
2092,110680,University of California-San Diego,55.00,259.72,17737044.0,322491.709091,68292.946250
...,...,...,...,...,...,...,...
785,104717,Grand Canyon University,19.50,39.50,1327889.0,68096.871795,33617.443038
2459,168421,Worcester Polytechnic Institute,19.00,22.26,1263161.0,66482.157895,56745.777179
1064,220631,Lincoln Memorial University,16.48,28.28,1026584.0,62292.718447,36300.707214
2226,243221,University of Puerto Rico-Rio Piedras,43.00,250.00,2606341.0,60612.581395,10425.364000
971,135081,Keiser University-Ft Lauderdale,43.00,83.00,1849000.0,43000.000000,22277.108434

In [40]:
ipeds[ipeds['Librarians FTE staff (AL2022)']>20][['UnitID','Institution Name','Librarians FTE staff (AL2022)','Total salaries and wages from the library budget (AL2022)','Total library FTE staff (AL2022)']].sort_values('Librarians FTE staff (AL2022)', ascending=False)

,UnitID,Institution Name,Librarians FTE staff (AL2022),Total salaries and wages from the library budget (AL2022),Total library FTE staff (AL2022)
826,166027,Harvard University,391.10,56138193.0,811.54
2468,130794,Yale University,246.00,40914711.0,528.00
2160,170976,University of Michigan-Ann Arbor,215.00,36214334.0,558.00
1516,214777,Pennsylvania State University-Main Campus,198.10,29133417.0,547.50
2132,145637,University of Illinois Urbana-Champaign,179.08,23166659.0,385.75
...,...,...,...,...,...
335,169248,Central Michigan University,20.64,2896350.0,60.27
1261,163426,Montgomery College,20.50,3352080.0,47.50
1433,204501,Oberlin College,20.50,3046318.0,56.96
1100,146719,Loyola University Chicago,20.50,3729746.0,58.53
601,220075,East Tennessee State University,20.34,2155278.0,60.93

## Consumption

In [51]:
PCE = pd.read_csv('data/PCE.csv',header=3)

In [52]:
PCE = PCE[:-3]

In [53]:
PCE

,GeoFips,GeoName,LineCode,Description,2023
0,00000,United States,1.0,Personal consumption expenditures,18822768.8
1,00000,United States,2.0,Goods,6123912.4
2,00000,United States,3.0,Durable goods,2142619.4
3,00000,United States,4.0,Motor vehicles and parts,749975.3
4,00000,United States,5.0,Furnishings and durable household equipment,480395.8
...,...,...,...,...,...
1435,98000,Far West,20.0,Financial services and insurance,256417.8
1436,98000,Far West,21.0,Other services,305846.5
1437,98000,Far West,22.0,Final consumption expenditures of nonprofi...,116910.3
1438,98000,Far West,23.0,Gross output of nonprofit institutions,404983.5
1439,98000,Far West,24.0,Less: Receipts from sales of goods and s...,288073.2

In [61]:
PCE[PCE['Description'] == 'Personal consumption expenditures'].sort_values('2023', ascending=False)

,GeoFips,GeoName,LineCode,Description,2023
0,00000,United States,1.0,Personal consumption expenditures,18822768.8
1344,95000,Southeast,1.0,Personal consumption expenditures,4578382.3
1416,98000,Far West,1.0,Personal consumption expenditures,3535960.4
1272,92000,Mideast,1.0,Personal consumption expenditures,3048376.4
120,06000,California,1.0,Personal consumption expenditures,2526290.3
1296,93000,Great Lakes,1.0,Personal consumption expenditures,2503005.7
1368,96000,Southwest,1.0,Personal consumption expenditures,2273384.4
1056,48000,Texas,1.0,Personal consumption expenditures,1595277.8
240,12000,Florida,1.0,Personal consumption expenditures,1361251.4
792,36000,New York,1.0,Personal consumption expenditures,1248145.3
1320,94000,Plains,1.0,Personal consumption expenditures,1140321.9
1248,91000,New England,1.0,Personal consumption expenditures,995393.2
936,42000,Pennsylvania,1.0,Personal consumption expenditures,738929.8
1392,97000,Rocky Mountain,1.0,Personal consumption expenditures,736043.6
336,17000,Illinois,1.0,Personal consumption expenditures,732059.2
864,39000,Ohio,1.0,Personal consumption expenditures,596162.7
744,34000,New Jersey,1.0,Personal consumption expenditures,592882.2
264,13000,Georgia,1.0,Personal consumption expenditures,554573.4
816,37000,North Carolina,1.0,Personal consumption expenditures,553487.4
552,26000,Michigan,1.0,Personal consumption expenditures,524045.1
1128,51000,Virginia,1.0,Personal consumption expenditures,486122.9
528,25000,Massachusetts,1.0,Personal consumption expenditures,483803.1
1152,53000,Washington,1.0,Personal consumption expenditures,472900.0
72,04000,Arizona,1.0,Personal consumption expenditures,400704.5
144,08000,Colorado,1.0,Personal consumption expenditures,374880.1
1032,47000,Tennessee,1.0,Personal consumption expenditures,351524.5
504,24000,Maryland,1.0,Personal consumption expenditures,346417.2
360,18000,Indiana,1.0,Personal consumption expenditures,339862.5
576,27000,Minnesota,1.0,Personal consumption expenditures,324127.6
624,29000,Missouri,1.0,Personal consumption expenditures,322803.9
1200,55000,Wisconsin,1.0,Personal consumption expenditures,310876.1
984,45000,South Carolina,1.0,Personal consumption expenditures,264655.8
168,09000,Connecticut,1.0,Personal consumption expenditures,235580.4
912,41000,Oregon,1.0,Personal consumption expenditures,234577.7
24,01000,Alabama,1.0,Personal consumption expenditures,227475.0
456,22000,Louisiana,1.0,Personal consumption expenditures,221484.7
432,21000,Kentucky,1.0,Personal consumption expenditures,213960.2
888,40000,Oklahoma,1.0,Personal consumption expenditures,179981.1
1080,49000,Utah,1.0,Personal consumption expenditures,174395.8
696,32000,Nevada,1.0,Personal consumption expenditures,172657.6
384,19000,Iowa,1.0,Personal consumption expenditures,153399.7
408,20000,Kansas,1.0,Personal consumption expenditures,145110.3
96,05000,Arkansas,1.0,Personal consumption expenditures,135760.8
600,28000,Mississippi,1.0,Personal consumption expenditures,123851.1
672,31000,Nebraska,1.0,Personal consumption expenditures,103226.1
768,35000,New Mexico,1.0,Personal consumption expenditures,97420.9
720,33000,New Hampshire,1.0,Personal consumption expenditures,92406.2
312,16000,Idaho,1.0,Personal consumption expenditures,90907.7
1176,54000,West Virginia,1.0,Personal consumption expenditures,84235.1
480,23000,Maine,1.0,Personal consumption expenditures,84092.7
288,15000,Hawaii,1.0,Personal consumption expenditures,83403.5
648,30000,Montana,1.0,Personal consumption expenditures,62603.2
216,11000,District of Columbia,1.0,Personal consumption expenditures,62490.4
960,44000,Rhode Island,1.0,Personal consumption expenditures,61337.8
192,10000,Delaware,1.0,Personal consumption expenditures,59511.5
1008,46000,South Dakota,1.0,Personal consumption expenditures,47926.8
48,02000,Alaska,1.0,Personal consumption expenditures,46131.3
840,38000,North Dakota,1.0,Personal consumption expenditures,43727.5
1104,50000,Vermont,1.0,Personal consumption expenditures,38173.0
1224,56000,Wyoming,1.0,Personal consumption expenditures,33256.8

PCE

In [75]:
PCE

,GeoFips,GeoName,LineCode,Description,2023
0,00000,United States,1.0,Personal consumption expenditures,18822768.8
1,00000,United States,2.0,Goods,6123912.4
2,00000,United States,3.0,Durable goods,2142619.4
3,00000,United States,4.0,Motor vehicles and parts,749975.3
4,00000,United States,5.0,Furnishings and durable household equipment,480395.8
...,...,...,...,...,...
1435,98000,Far West,20.0,Financial services and insurance,256417.8
1436,98000,Far West,21.0,Other services,305846.5
1437,98000,Far West,22.0,Final consumption expenditures of nonprofi...,116910.3
1438,98000,Far West,23.0,Gross output of nonprofit institutions,404983.5
1439,98000,Far West,24.0,Less: Receipts from sales of goods and s...,288073.2

In [63]:
pop = PCE[PCE['Description'] == 'Personal consumption expenditures']

In [72]:
pop.head()

,GeoFips,GeoName,LineCode,Description,2023
0,00000,United States,1.0,Personal consumption expenditures,18822768.8
24,01000,Alabama,1.0,Personal consumption expenditures,227475.0
48,02000,Alaska,1.0,Personal consumption expenditures,46131.3
72,04000,Arizona,1.0,Personal consumption expenditures,400704.5
96,05000,Arkansas,1.0,Personal consumption expenditures,135760.8

In [70]:
# Load US states TopoJSON data
states = alt.topo_feature(data.us_10m.url, 'states')

# Map GeoName to geographic boundaries (assuming it matches state names)
chart = alt.Chart(states).mark_geoshape().encode(
    color=alt.Color('2023:Q', title='Consumption Expenditure (2023)', scale=alt.Scale(scheme='blues')),
    tooltip=['GeoName:N', '2023:Q']
).transform_lookup(
    lookup='GeoName',
    from_=alt.LookupData(pop, 'GeoName', ['2023'])
).properties(
    width=800,
    height=500,
    title="Personal Consumption Expenditures by State (2023)"
).project(
    type='albersUsa'
)

chart.show()

alt.Chart(...)

In [73]:
states = alt.topo_feature(data.us_10m.url, 'states')
source = data.income.url

In [74]:
source

'https://cdn.jsdelivr.net/npm/vega-datasets@v1.29.0/data/income.json'

In [77]:
pop.head()

,GeoFips,GeoName,LineCode,Description,2023
0,00000,United States,1.0,Personal consumption expenditures,18822768.8
24,01000,Alabama,1.0,Personal consumption expenditures,227475.0
48,02000,Alaska,1.0,Personal consumption expenditures,46131.3
72,04000,Arizona,1.0,Personal consumption expenditures,400704.5
96,05000,Arkansas,1.0,Personal consumption expenditures,135760.8

In [78]:
states = alt.topo_feature(data.us_10m.url, 'states')

variable_list = ['2023']

alt.Chart(states).mark_geoshape().encode(
    color='2023:Q'
).transform_lookup(
    lookup='GeoFips',
    from_=alt.LookupData(pop, 'GeoFips', list(pop.columns))
).properties(
    width=500,
    height=300
).project(
    type='albersUsa'
)

alt.Chart(...)

In [79]:
alt.Chart(states).mark_geoshape().encode(
    color='2023:Q'
).project(
    type='albersUsa'
).properties(
    width=500,
    height=300
).transform_lookup(
    lookup='GeoFips',
    from_=alt.LookupData(pop, 'GeoFips', ['2023'])
)

alt.Chart(...)